<app-header (novaTransacao)="abrirModal()" />
<main class="main">
  <div class="container">
    <div class="cards">
      @for (card of cards; track card.id) {
        <app-card
          [titlecard]="card.title"
          [iconUrl]="card.iconUrl"
          [amount]="card.amount"
          [variant]="card.variant"
        />
      }
    </div>
    <app-table [rows]="tables" />
  </div>
</main>
<app-modal
  [aberto]="modalAberto"
  (cadastrar)="adicionarTransacao($event)"
  (fechar)="fecharModal()"
/>
<router-outlet />
