<table class="table">
  <thead>
    <tr>
      <th>Título</th>
      <th>Preço</th>
      <th>Categoria</th>
      <th>Data</th>
    </tr>
  </thead>
  <tbody>
    @for (row of rows; track row.id) {
      <tr>
        <td data-label="Título">{{ row.title }}</td>
        <td
          data-label="Preço"
          class="preco"
          [class.is-saida]="row.tipo === 'saida'"
        >
          {{
            row.tipo === "saida"
              ? "- " + formatCurrency(row.price)
              : formatCurrency(row.price)
          }}
        </td>
        <td data-label="Categoria">{{ row.categorie }}</td>
        <td data-label="Data">{{ formatDate(row.dateCurrent) }}</td>
      </tr>
    }
  </tbody>
</table>
