<table class="table">
  <thead>
    <tr>
      <th>Título</th>
      <th>Preço</th>
      <th>Categoria</th>
      <th>Data</th>
    </tr>
  </thead>
  <tbody>
    @for (row of rows; track row.id) {
      <tr>
        <td>{{ row.title }}</td>
        <td class="preco" [class.is-saida]="row.tipo === 'saida'">
          {{
            row.tipo === "saida"
              ? "- " + formatCurrency(row.price)
              : formatCurrency(row.price)
          }}
        </td>
        <td>{{ row.categorie }}</td>
        <td>{{ formatDate(row.dateCurrent) }}</td>
      </tr>
    }
  </tbody>
</table>
